/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */


@font-face {
	/* designed by Derek Weathersbee <www.derekweathersbee.com> // found at Lost Type <http://www.losttype.com/font/?name=franchise> */
    font-family: 'franchiseregular'; 
    src: url('../fonts/Franchise-Bold/franchise-bold-webfont.eot');
    src: url('../fonts/Franchise-Bold/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.woff') format('woff'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.ttf') format('truetype'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	/* designed by Christian Robertson <http://betatype.com/> // found at Google Web Fonts <http://www.google.com/webfonts> */
    font-family: 'Roboto';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
	/* designed by Christian Robertson <http://betatype.com/> // found at Google Web Fonts <http://www.google.com/webfonts> */
    font-family: 'Roboto';
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

body {
	position: relative;
}

#container {
	min-width: 320px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}

#header {
	position: relative;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	/* height: 62.03%;  the extra 25px gets added here (335 total)  */
	/* min-height: 270px;  don't include min-height because it adds extra space at the bottom */
	background-color: #1F8F9D;
	background-image:url('../images/patterns/cream_dust_edited.png');
	background-repeat:repeat;
	-moz-box-shadow: 0 5px 32px 0 rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 5px 32px 0 rgba(0,0,0,0.75);
	z-index: 1;
}

#fancyTitleWrapper {
	max-width: 900px;
	min-width: 320px;
	margin: 0 auto 0 auto;
	clear: both;
}

#fancyTitleContainer {
	padding-top: 15%; /* 90 instead of 115 because of 25px height above type, original % = 16.67 */
	padding-bottom: 5%; /* 115px, original % = 21.3 */
}

.header {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
	float: right;
	
	text-align: center;
	border-bottom: 5px solid rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.7);
	
	font-size: 20px;
	padding-left: 30px;
	padding-top: 45px;
	padding-bottom: 15px;
}
.contact {
	padding-right: 30px;
}

.header:hover, .header.selected {
	color: rgba(255,255,255,0.99);
}

h1 {
	font-family: 'franchiseregular', sans-serif;
	color: #ffffff;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.20);
	font-size: 180px;
	line-height: 100%; /* 180px; */
	/* text-transform:uppercase; */
}

h1 .tagline {
	font-family: 'franchiseregular', sans-serif;
	color: #ffffff;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.20);
	font-size: 90px;
	line-height: 100%; /* 180px; */
	/* text-transform:uppercase; */
	text-align: center;
}

#slider {
	position: relative;
	margin: 0px auto 0px auto;
	width: 100%;
	height: 240px; /* this will be 160px tall at the smallest width */
	background-color: #333333;
	z-index: 0;
}

.flexslider {
	border: none;
	height: 240px;
	background-color: inherit;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.slides {
	border: none;
	width: 960px;
	height: 240px;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

.flex-control-nav {
	bottom: 15px;
	z-index: 100;
}


/*
.gradient {
	background-image:url('../images/shadows_leftright.png');
	background-repeat:repeat-y;
	z-index: 0;
	height: 240px;
	width: 962px;
	position: absolute;
	top: 0;
	left: 0;	
}
*/

#galleryContainerContainer {
	position: relative;
	margin: 0 auto 0 auto;
	padding-bottom: 30px;
	background-color: #dddddd; 
	-moz-box-shadow: 0 0px 37px 0 rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 0px 37px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 0px 37px 0 rgba(0,0,0,0.75);
	z-index: 1;
}

#galleryContainer {
	position: relative;
	margin: 0px auto 0px auto;
	max-width: 960px;
	background-color: #dddddd;
}

#galleryHeader {
	min-height: 45px;
	margin: auto auto auto auto;
	padding: 30px 30px 30px 30px; /* top is not 30px because of 17px height above type (because of ems, it's 42px instead of 47px) */
	/* padding: 30px 5% 30px 5%; /* top is not 30px because of 17px height above type (because of ems, it's 42px instead of 47px) */
	position: relative;
	z-index: 2;
}

#galleryHeader h2 {
	/* margin-top: -0.15em; /* to accommodate 17px height above type */
	font-family: 'franchiseregular', sans-serif;
	color: #1F8F9D;
	font-size: 120px;
	text-transform:uppercase;
	text-align: left;
	float: left;
	width: 62%;
}

#galleryHeader h3 {
	float: left;
	font-family: 'roboto', sans-serif;
	color: rgba(0, 0, 0, 0.4);  /* originally #444444 */
	font-size: 32px;
	line-height: 115%; 
	font-weight: 200;
    font-style: italic;
    text-align: right;
    margin-top: 2.0%;
	width: 38%;
}

#pageHolder {
	position: relative;
	margin: 0px auto 0px auto; /* margin-top = 150px - 60px (because of text?) - 30px (because of tile margin) = 60px */
}

.page {
	display: none;
}

#gallery {
	position: relative;
	display: block;
	margin: 0px auto 0px auto;
}

.tile {
	width: 250px; /* 280 - 15 - 15 (bug) */
	height: 250px; /* 180 - 15 - 15 (bug) */
	background-color: #f2f2f2;
	padding: 15px;
	margin: 0 0 30px 30px;
	float: left;
	-moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition-property: opacity, margin-top;
    -webkit-transition-duration: 0.6s, 1s;
	transition-property: opacity, margin-top;
    transition-duration: 0.6s, 1s;
}

/*
#tileTextContainer {
	float: left;
	padding-top: 5px;
}
*/

h4 {
	font-family: 'roboto', sans-serif;
	color: #222222;
	font-size: 24px;
	line-height: 20px;
	font-weight: 900;
	margin-bottom: 18px;
	padding-top: 2px;
}

#gallery p {
	width: 250px;
	height: 40px;  /* realistically 45px */
	font-family: 'roboto', sans-serif;
	color: #222222;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
 /* text-overflow: ellipsis;
	white-space: nowrap; */             
  	overflow: hidden; 
}

.imageContainer {
	position: relative;
	width: 250px;
	height: 150px;
	margin-bottom: 12px;
}

.ribbon {
	position: absolute;
	right: 0px;
	z-index: 100;
}

img.tileImg {
	position: relative;
	float: right;
}

#resourcesContainer {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 30px 0px;
	width: 100%;
	background-color: #555555;
}

#resourcesHeader {
	margin: 0 auto 0 auto;
	padding: 30px 20px 30px 20px; 
	max-width: 900px;
	min-width: 280px;
}

#resourcesHeader h2 {
	margin-top: -17px;  /* to accommodate 17px height above type */ 
	font-family: 'franchiseregular', sans-serif;
	color: #1F8F9D;
	font-size: 120px;
	text-transform:uppercase;
	text-align: center;
}

#resources {
	max-width: 900px; /* 930 - 30 -30 because of the 30px padding */
	margin: 0 auto 0 auto;
	padding-right: 30px;
	padding-left: 30px;
}

.resources p {
	font-family: 'roboto', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 15px;
}

em {
	font-style: italic;
}

.clear {
	clear: both;
}

footer {
	position: relative;
	margin: 0px auto 0px auto;
	padding-bottom: 30px;
	width: 100%;
	/* min-height: 150px; */
	background-color: #1F8F9D;
	background-image:url('../images/patterns/cream_dust_edited.png');
	background-repeat:repeat;
}

#footerContainer {
	max-width: 900px;
}

#abouttext p {
	/* height: 75px; */
	font-family: 'roboto', sans-serif;
	color: #ffffff;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	text-align: left;
	padding: 30px 30px 0 30px;
	max-width: 960px;
	margin: 0 auto;
}

#abouttext {
	clear: both;
	margin-bottom: -10%;
	overflow: hidden;
	display: none;
}


#footerLinks {
	width: 360px;
	height: 45px;
	margin: 0 auto 0 auto;
	padding-top: 30px;
}

a {
	color: #ffffff;
	text-decoration:none;
}

.footer {
	width: 165px;
	height: 45px;
	/* background-color: #1B808C; */
	background-color: rgba(0, 0, 0, .08);
	font-family: 'roboto', sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 45px;
	font-weight: 300;
	text-align: center;
}




::selection {
	background: #dddddd; /* Safari */
	}
::-moz-selection {
	background: #dddddd; /* Firefox */
}






/** Responsive Page **/

/*
.inner h4 {  // name of tool
	display: inline;
	padding-right: 4px;
}
*/

h5 {  /* "created by ... " */
	font-family: 'roboto', sans-serif;
	font-family: 'roboto', sans-serif;
	color: #000000;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	padding-bottom: 20px;
	margin-top: -5px;

}

h6 {  /* "last modified on ... " */
	font-family: 'roboto', sans-serif;
	font-family: 'roboto', sans-serif;
	color: #aaaaaa;
	font-size: 11px;
	line-height: 20px;
	font-weight: 300;
	padding-bottom: 20px;
	margin-top: -10px;
}

.demoBox {
	position: relative;
	float: right;
	margin: -105px 0 20px 20px; /* no margin-right because of .inner */
}
.innerImg {
	display: block;
}

.demoBox .button {
	font-family: 'roboto', sans-serif;
	float: left;
	display: block;
	width: 142px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	margin-right: 15px;
	background-color: #1B808C;
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	font-weight: 100;
}
.demoBox .button:hover {
        background-color: #219ead;
}
.demoBox .originalbutton {
	margin-right: 0px !important;
}

.fontImg {
	margin-top: -65px;
}

.innerImg img {
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

.page a {
	color: #1F8F9D;
	text-decoration:none;
}

.inner {
	max-width: 860px;
	min-width: 240px;
	min-height: 360px;
	position: relative;
	background-color: #f2f2f2;
	margin-left: 30px;
	margin-right: 30px;
	padding: 20px;
	-moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.descriptionAndCode p, .inner p {
	font-family: 'roboto', sans-serif;
	color: #222222;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	padding-bottom: 20px;
}

.descriptionAndCode li {
	font-family: 'roboto', sans-serif;
	color: #222222;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
	padding-left: 8px;
}

.descriptionAndCode ul {
	list-style: circle;
	margin-top: -20px;
	margin-left: 0;
	padding-left: 24px;
	padding-bottom: 20px;
	text-indent: -8px;
}

.descriptionAndCode ol {
	list-style: decimal;
	margin-top: -20px;
	margin-left: 0;
	padding-left: 32px;
	padding-bottom: 20px;
}

.descriptionAndCode ul li:before {
	content: "\0020 \0020";
}


.code {
	font-family: 'Nixie One', cursive;	
}

pre {
	background-color: #444444;
	padding: 15px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: 'Nixie One', cursive;
	font-size: 15px;
	line-height: 20px;
	color: #eeeeee;
	margin-bottom: 40px;
	overflow: scroll;
}


/*********************/







@media screen and (min-width: 0px) {
	#gallery {
		width: 320px;
	}
	.inner {
		margin-left: 20px;
		margin-right: 20px;
	}
	.demoBox {
		position: relative;
		float: none;
		display: block;
		margin: 0px auto 20px auto; /* top margin is 0px */
		text-align: center;
		width: 240px;
		height: 290px;
	}
	.innerImg {
		width: 240px;
		height: 240px;
	}
	.demoBox .button {
		width: 115px;
		height: 38px;
		line-height: 38px;
		margin-right: 10px;
		font-size: 13px;
		margin-top: 10px;
	}
	.tile {
		margin: 0 0 30px 20px;
	}
	#galleryHeader {
		padding: 30px 15px 30px 15px; /* top is not 30px because of 17px height above type (because of ems, it's 42px instead of 47px) */
	}
	#slider, .flexslider, .slides {
		height: 160px;
	}
	.slides {
		margin-top: -40px;
	}
	#fancyTitleWrapper {
		padding-left: 20px;
	}
	#fancyTitleContainer {
		padding-top: 9%;
	}
	#abouttext {
		margin-bottom: -5%;
	}

	
	.header {
		border-bottom: 3px solid rgba(255,255,255,0.5);
		font-size: 15px;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.contact {
		padding-right: 20px;
	}

}

@media screen and (min-width: 400px) {
	.demoBox {
		width: 300px;
		height: 360px;
	}
	.innerImg {
		width: 300px;
		height: 300px;
	}
	.demoBox .button {
		width: 142px;
		height: 45px;
		line-height: 45px;
		margin-right: 15px;
		font-size: 16px;
		margin-top: 15px;
	}
	#fancyTitleWrapper {
		padding-left: 30px;
	}
}

@media screen and (min-width: 650px) {
	#gallery {
		width: 650px;
	}
	.inner {
		margin-left: 30px;
		margin-right: 30px;
	}
	.demoBox {
		position: relative;
		float: right;
		margin: -105px 0 20px 20px; /* no margin-right because of .inner */
		width: 300px;
		height: 360px;
	}
	.innerImg {
		width: 300px;
		height: 300px;
	}
	.fontImg {
		margin-top: -65px;
	}
	.tile {
		margin: 0 0 30px 30px;
	}
	#galleryHeader {
		padding: 30px 30px 30px 30px; /* top is not 30px because of 17px height above type (because of ems, it's 42px instead of 47px) */
	}

	#slider, .flexslider, .slides {
		height: 240px;
	}
	.slides {
		margin-top: 0px;
	}
	#fancyTitleWrapper {
		padding-left: 60px;
	}
	#fancyTitleContainer {
		padding-top: 5%;
	}
	#abouttext {
		margin-bottom: -1%;
	}

	.header {
		border-bottom: 5px solid rgba(255,255,255,0.5);
		font-size: 20px;
		padding-left: 30px;
		padding-top: 45px;
		padding-bottom: 15px;
	}
	.contact {
		padding-right: 30px;
	}
}


@media screen and (min-width: 960px) {
	#gallery {
		width: 960px;
	}
}
