/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset */


@font-face {
	/* designed by Derek Weathersbee <www.derekweathersbee.com> // found at Lost Type <http://www.losttype.com/font/?name=franchise> */
    font-family: 'franchiseregular'; 
    src: url('../fonts/Franchise-Bold/franchise-bold-webfont.eot');
    src: url('../fonts/Franchise-Bold/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.woff') format('woff'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.ttf') format('truetype'),
         url('../fonts/Franchise-Bold/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	/* designed by Christian Robertson <http://betatype.com/> // found at Google Web Fonts <http://www.google.com/webfonts> */
    font-family: 'Roboto';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
	/* designed by Christian Robertson <http://betatype.com/> // found at Google Web Fonts <http://www.google.com/webfonts> */
    font-family: 'Roboto';
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

body {
	position: relative;
}

#container {
	/* max-width: 1240px; */
	min-width: 480px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	overflow: auto;
}

#header {
	position: relative;
	/* margin: 0px auto 0px auto; */
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	/* height: 62.03%;  the extra 25px gets added here (335 total)  */
	/* min-height: 270px;  don't include min-height because it adds extra space at the bottom */
	background-color: #1F8F9D;
	background-image:url('../images/patterns/cream_dust_edited.png');
	background-repeat:repeat;

	-moz-box-shadow: 0 5px 32px 0 rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 5px 32px 0 rgba(0,0,0,0.75);
	z-index: 1;

}

#fancyTitleWrapper {
	max-width: 900px;
	min-width: 420px;
	margin: 0 auto 0 auto;
}

#fancyTitleContainer {
	padding-top: 10%; /* 90 instead of 115 because of 25px height above type, original % = 16.67 */
	padding-bottom: 10%; /* 115px, original % = 21.3 */
}

h1 {
	font-family: 'franchiseregular', sans-serif;
	color: #ffffff;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.20);
	font-size: 180px;
	line-height: 100%; /* 180px; */
	/* text-transform:uppercase; */
	text-align: center;
}

#slider {
	position: relative;
	margin: 0px auto 0px auto;
	width: 100%;
	height: 240px; /* this will be 240px tall at all widths */
	background-color: #333333;
	z-index: 0;
}

.flexslider {
	border: none;
	height: 240px;
	background-color: inherit;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.slides {
	border: none;
	width: 960px;
	height: 240px;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

.flex-control-nav {
	bottom: 15px;
	z-index: 100;
}


/*
.gradient {
	background-image:url('../images/shadows_leftright.png');
	background-repeat:repeat-y;
	z-index: 0;
	height: 240px;
	width: 962px;
	position: absolute;
	top: 0;
	left: 0;	
}
*/

#galleryContainerContainer {
	position: relative;
	margin: 0 auto 0 auto;
	/* width: 100%; */
	/* height: 780px; */
	background-color: #dddddd; 
	
	-moz-box-shadow: 0 0px 37px 0 rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 0px 37px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 0 0px 37px 0 rgba(0,0,0,0.75);
	
	z-index: 1;
}

#galleryContainer {
	position: relative;
	margin: 0px auto 0px auto;
	max-width: 960px;
	/* height: 780px; this eventually needs to change to accommodate more tiles */
	background-color: #dddddd;
}

#galleryHeader {
	margin: 0 auto 0 auto;
	padding: 42px 45px 30px 45px; /* top is not 30px because of 17px height above type (because of ems, it's 42px instead of 47px) */
	/* height: 90px; */
}

#galleryHeader h2 {
	margin-top: -0.15em; /* to accommodate 17px height above type */
	font-family: 'franchiseregular', sans-serif;
	color: #1F8F9D;
	font-size: 120px;
	text-transform:uppercase;
	text-align: left;
	float: left;
	width: 57%;
}

#galleryHeader h3 {
	/* padding-top: 1%;  2px  */
	padding-left: 4%; /* 45px */
	float: left;
	font-family: 'roboto', sans-serif;
	color: rgba(0, 0, 0, 0.4);  /* originally #444444 */
	font-size: 32px;
	line-height: 130%; 
	font-weight: 200;
    font-style: italic;
	width: 39%;
}

#gallery {
	position: relative;
	margin: 0px auto 0px auto; /* margin-top = 150px - 60px (because of text?) - 30px (because of tile margin) = 60px */
}

@media screen and (min-width: 0px) {
	#gallery {
		width: 320px;
	}
}

@media screen and (min-width: 650px) {
	#gallery {
		width: 650px;
	}
}


@media screen and (min-width: 960px) {
	#gallery {
		width: 960px;
	}
}


.tile {
	width: 250px; /* 280 - 15 - 15 (bug) */
	height: 250px; /* 180 - 15 - 15 (bug) */
	background-color: #f2f2f2;
	padding: 15px;
	margin: 0 0 30px 30px;
	float: left;
	-moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.25);
	-moz-border-radius: 2px;
	border-radius: 2px;
	
}

/*
#tileTextContainer {
	float: left;
	padding-top: 5px;
}
*/

h4 {
	font-family: 'roboto', sans-serif;
	color: #000000;
	font-size: 24px;
	line-height: 20px;
	font-weight: 900;
	margin-bottom: 18px;
	padding-top: 2px;
}

#gallery p {
	width: 250px;
	height: 40px;  /* realistically 45px */
	font-family: 'roboto', sans-serif;
	color: #000000;
	font-size: 15px;
	line-height: 20px;
	font-weight: 300;
 /* text-overflow: ellipsis;
	white-space: nowrap; */             
  	overflow: hidden; 
}

.imageContainer {
	position: relative;
	width: 250px;
	height: 150px;
	margin-bottom: 12px;
}

.ribbon {
	position: absolute;
	right: 0px;
	z-index: 100;
}

img.tileImg {
	position: relative;
	float: right;
}

#resourcesContainer {
	position: relative;
	margin: 0 auto 0 auto;
	padding-bottom: 15px; /* bottom is 15px (instead of 30px) because each p already has 15px padding-bottom) */
	width: 100%;
	/* height: 376px; */
	background-color: #555555;
}

#resourcesHeader {
	margin: 0 auto 0 auto;
	padding-top: 30px; 
	padding-bottom: 7px; /* 30 - 17 - 6*/
	/* height: 90px; */
	max-width: 870px;
	min-width: 420px;
}

#resourcesHeader h2 {
	margin-top: -17px;  /* to accommodate 17px height above type */ 
	font-family: 'franchiseregular', sans-serif;
	color: #1F8F9D;
	font-size: 120px;
	text-transform:uppercase;
	text-align: center;
}

#resources {
	max-width: 870px; /* 930 - 30 -30 because of the 30px padding */
	margin: 0 auto 0 auto;
	padding-right: 30px;
	padding-left: 30px;
}

.resources p {
	font-family: 'roboto', sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 15px;
}

em {
	font-style: italic;
}

.clear {
	clear: both;
}

footer {
	position: relative;
	margin: 0px auto 0px auto;
	padding-bottom: 30px;
	width: 100%;
	/* min-height: 150px; */
	background-color: #1F8F9D;
	background-image:url('../images/patterns/cream_dust_edited.png');
	background-repeat:repeat;
}

footer p {
	/* height: 75px; */
	font-family: 'roboto', sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	text-align: center;
	padding: 30px;
}

#footerLinks {
	width: 360px;
	height: 45px;
	margin: 0 auto 0 auto;
}

a {
	color: #ffffff;
	text-decoration:none;
}

.footer {
	width: 165px;
	height: 45px;
	/* background-color: #1B808C; */
	background-color: rgba(0, 0, 0, .08);
	font-family: 'roboto', sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 45px;
	font-weight: 300;
	text-align: center;
}

.contact {
	float: left;
}

.viewPortfolio {
	float: right;
}


::selection {
	background: #dddddd; /* Safari */
	}
::-moz-selection {
	background: #dddddd; /* Firefox */
}

